hermes.vendoideias.com {
    reverse_proxy openclaw-vibestack:9119 {
        header_up Host localhost
    }
}

open.vendoideias.com {
    reverse_proxy openclaw-vibestack:18789
}

gowa.vendoideias.com {
    tls internal
    reverse_proxy gowa:3000
}
